n8n/workflows/daily_briefing.json
{
  "name": "AI Platform - Informe Diario (Briefing)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 8 * * 1-5"}]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Lunes-Viernes 8:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_PLATFORM_URL }}/channels/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.AI_PLATFORM_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"channel\": \"briefing\",\n  \"user_id\": \"system\",\n  \"message\": \"Genera un informe ejecutivo del estado actual de todos los proyectos activos: tareas pendientes, plazos próximos y puntos de atención. Formato conciso para leer en móvil.\",\n  \"username\": \"Sistema\"\n}",
        "options": {"timeout": 120000}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Pedir Informe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📊 *Informe Diario*\n\n{{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Enviar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Lunes-Viernes 8:00": {
      "main": [[{"node": "Pedir Informe", "type": "main", "index": 0}]]
    },
    "Pedir Informe": {
      "main": [[{"node": "Enviar por Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "id": "daily-briefing-workflow",
  "tags": [{"name": "ai-platform"}]
}
