n8n/workflows/telegram_polling.json
{
  "name": "AI Platform - Telegram Polling (sin webhook)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "seconds", "secondsInterval": 5}]
        }
      },
      "id": "node-sched-001",
      "name": "Cada 5 segundos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\nconst offset = data.offset || 0;\nreturn [{ json: { offset } }];"
      },
      "id": "node-code-001",
      "name": "Leer Offset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.telegram.org/botPON_TU_TOKEN_AQUI/getUpdates",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "offset", "value": "={{ $json.offset }}"},
            {"name": "timeout", "value": "0"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "node-http-001",
      "name": "getUpdates Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst updates = $input.first().json.result || [];\n\nif (updates.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\n// Actualizar offset para la próxima ejecución\nstaticData.offset = updates[updates.length - 1].update_id + 1;\n\n// Filtrar solo mensajes de texto\nconst messages = updates\n  .filter(u => u.message && u.message.text)\n  .map(u => ({\n    json: {\n      skip: false,\n      chat_id: String(u.message.chat.id),\n      user_id: String(u.message.from.id),\n      username: u.message.from.first_name || '',\n      text: u.message.text\n    }\n  }));\n\nreturn messages.length > 0 ? messages : [{ json: { skip: true } }];"
      },
      "id": "node-code-002",
      "name": "Procesar Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "notEquals"}
            }
          ]
        }
      },
      "id": "node-if-001",
      "name": "Hay mensajes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_PLATFORM_URL }}/channels/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.AI_PLATFORM_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"telegram\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"message\": \"{{ $json.text }}\",\n  \"username\": \"{{ $json.username }}\"\n}",
        "options": {"timeout": 120000}
      },
      "id": "node-http-002",
      "name": "AI Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botPON_TU_TOKEN_AQUI/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Procesar Updates').item.json.chat_id }}\",\n  \"text\": \"{{ $json.response }}\",\n  \"parse_mode\": \"Markdown\"\n}",
        "options": {}
      },
      "id": "node-http-003",
      "name": "Enviar Respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 220]
    },
    {
      "parameters": {},
      "id": "node-noop-001",
      "name": "Sin mensajes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Cada 5 segundos": {
      "main": [[{"node": "Leer Offset", "type": "main", "index": 0}]]
    },
    "Leer Offset": {
      "main": [[{"node": "getUpdates Telegram", "type": "main", "index": 0}]]
    },
    "getUpdates Telegram": {
      "main": [[{"node": "Procesar Updates", "type": "main", "index": 0}]]
    },
    "Procesar Updates": {
      "main": [[{"node": "Hay mensajes", "type": "main", "index": 0}]]
    },
    "Hay mensajes": {
      "main": [
        [{"node": "AI Platform", "type": "main", "index": 0}],
        [{"node": "Sin mensajes", "type": "main", "index": 0}]
      ]
    },
    "AI Platform": {
      "main": [[{"node": "Enviar Respuesta", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "id": "telegram-polling-workflow",
  "tags": [{"name": "ai-platform"}]
}
