n8n/workflows/telegram_bot.json
{
  "name": "AI Platform - Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Has Text",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_PLATFORM_URL }}/channels/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.AI_PLATFORM_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"telegram\",\n  \"user_id\": \"{{ $('Telegram Trigger').item.json.message.from.id }}\",\n  \"message\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"username\": \"{{ $('Telegram Trigger').item.json.message.from.first_name }}\"\n}",
        "options": {"timeout": 120000}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "AI Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Por favor envía un mensaje de texto.",
        "additionalFields": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "No Text Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 420],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{"node": "Has Text", "type": "main", "index": 0}]]
    },
    "Has Text": {
      "main": [
        [{"node": "AI Platform", "type": "main", "index": 0}],
        [{"node": "No Text Reply", "type": "main", "index": 0}]
      ]
    },
    "AI Platform": {
      "main": [[{"node": "Send Reply", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "id": "telegram-ai-platform-workflow",
  "tags": [{"name": "ai-platform"}]
}
