n8n/workflows/whatsapp_bot.json
{
  "name": "AI Platform - WhatsApp Bot (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-evolution"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {"type": "string", "operation": "equals"}
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "notEquals"}
            },
            {
              "id": "cond3",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Valid Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_PLATFORM_URL }}/channels/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.AI_PLATFORM_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"whatsapp\",\n  \"user_id\": \"{{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid }}\",\n  \"message\": \"{{ $('WhatsApp Webhook').item.json.body.data.message.conversation }}\",\n  \"username\": \"{{ $('WhatsApp Webhook').item.json.body.data.pushName }}\"\n}",
        "options": {"timeout": 120000}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "AI Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/my-instance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('WhatsApp Webhook').item.json.body.data.key.remoteJid.replace('@s.whatsapp.net', '') }}\",\n  \"text\": \"{{ $('AI Platform').item.json.response }}\"\n}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\"}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ignored\"}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Respond Ignored",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{"node": "Valid Message", "type": "main", "index": 0}]]
    },
    "Valid Message": {
      "main": [
        [{"node": "AI Platform", "type": "main", "index": 0}],
        [{"node": "Respond Ignored", "type": "main", "index": 0}]
      ]
    },
    "AI Platform": {
      "main": [[{"node": "Send WhatsApp Reply", "type": "main", "index": 0}]]
    },
    "Send WhatsApp Reply": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": false},
  "id": "whatsapp-ai-platform-workflow",
  "tags": [{"name": "ai-platform"}]
}
