n8n/workflows/whatsapp_wppconnect.json
{
  "name": "AI Platform - WhatsApp Bot (wppconnect)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "whatsapp-wppconnect"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "onmessage",
              "operator": {"type": "string", "operation": "equals"}
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json.body.data.isGroupMsg }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "notEquals"}
            },
            {
              "id": "cond3",
              "leftValue": "={{ $json.body.data.type }}",
              "rightValue": "chat",
              "operator": {"type": "string", "operation": "equals"}
            },
            {
              "id": "cond4",
              "leftValue": "={{ $json.body.data.fromMe }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "notEquals"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wpp-002",
      "name": "Mensaje válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_PLATFORM_URL }}/channels/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "X-API-Key", "value": "={{ $env.AI_PLATFORM_API_KEY }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"whatsapp\",\n  \"user_id\": \"{{ $('WhatsApp Webhook').item.json.body.data.from }}\",\n  \"message\": \"{{ $('WhatsApp Webhook').item.json.body.data.body }}\",\n  \"username\": \"{{ $('WhatsApp Webhook').item.json.body.data.sender.pushname }}\"\n}",
        "options": {"timeout": 120000}
      },
      "id": "wpp-003",
      "name": "AI Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WPPCONNECT_URL }}/api/{{ $env.WPPCONNECT_TOKEN }}/{{ $env.WPPCONNECT_SESSION }}/send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('WhatsApp Webhook').item.json.body.data.from }}\",\n  \"message\": \"{{ $('AI Platform').item.json.response }}\",\n  \"isGroup\": false\n}",
        "options": {}
      },
      "id": "wpp-004",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\"}",
        "options": {}
      },
      "id": "wpp-005",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ignored\"}",
        "options": {}
      },
      "id": "wpp-006",
      "name": "Ignorar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{"node": "Mensaje válido", "type": "main", "index": 0}]]
    },
    "Mensaje válido": {
      "main": [
        [{"node": "AI Platform", "type": "main", "index": 0}],
        [{"node": "Ignorar", "type": "main", "index": 0}]
      ]
    },
    "AI Platform": {
      "main": [[{"node": "Enviar WhatsApp", "type": "main", "index": 0}]]
    },
    "Enviar WhatsApp": {
      "main": [[{"node": "Responder OK", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true},
  "id": "whatsapp-wppconnect-workflow",
  "tags": [{"name": "ai-platform"}]
}
